*.o
*.so
*.dll
*.pico
bcftools
libbcftools.a
libbcftools.so*
libhts.a
libhts.so*
annot-tsv
bgzip
htsfile
tabix
hfile_*.so
ref-cache
config.h
config.log
config.mk
config.status
htslib.pc.tmp
htslib_static.mk
hts-object-files
bcftools-1.24/version.h
bcftools-1.24/htslib-1.24/version.h
